
<!-- left list -->

  <div class="left_list_box">
    <div class="list_title">
        <h2>LEFT LIST </h2>
    </div>
    <div class="list_content">
        <ul>
            <form action="/lists" method="post" class="form" >
                <li class="list_item new_list_item">
                    <input type="text" name="new_item_input" placeholder="New Item" disabled> 
                    <input type="submit" value="+" disabled> 
                </li>
            </form>

<!--            
            <% if (locals.user_input){ %>
                <% for(let i= 0; i<user_input.length;i++){ %>
                    <form action="/lists" method="post" id="item_form<%= [i] %>" >
                        <li class="list_item new_item">        
                                <input type="checkbox">
                                <input type="text" class="item_input" name="item_input" value="<%= user_input[i] %>">
                                <input type="submit" name="delete" value="🗑"> 
                        </li>
                    </form>
                <% } %>
            <% } %>
      -->
        </ul>
    </div>
  </div>
